name: Sync master branch with main

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  sync-master:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          fetch-depth: 1

      - name: Update master branch
        run: git push origin main:master --force
